
*{
  font-family: Lato;
}




.navs {
  color: white;
  font-weight: 800;
  padding: .5rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}


.navs a {
  background-color: rgb(21, 95, 125);
  text-transform: uppercase;

  max-width: 100px;
  text-align: center;
  margin-left: 1rem;
  padding: .75rem 1rem;
  font-size: 1rem;
  flex: 1 1 auto;
  color: #fff;
  text-decoration: none;
}

.navs a.selected{
  background-color: rgb(226, 54, 54);
 
}

.navs .navFriend{
  max-width: 500px;
  font-weight: 800;
  background-color: pink;
  color: white;
  font-size: x-large;
}


.navLink{
  text-transform: uppercase;
}



.liked-list {
  padding: 0;
  margin: 0;
}



.liked-list li {
  max-width: 80%;
  margin: 0 auto;
  font-size: .875rem;
  padding: 1rem;
  padding-left: 1.25rem;
  border-radius: .5rem;
  background-color: #fff;
  display: flex;
  gap: 1rem;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .75rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.liked-list li button {
  font-size: .75rem;
  border: 0;
  color: #fff;
  background-color: rgb(39, 154, 131);
  padding: .375rem .5rem ;
  border-radius: .25rem;
  margin-right: 1rem;
}

.liked-list li button:hover {
  opacity: 0.9;
}

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  font-weight: 800;
}

.formElement h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 800; 
}

.formElement input {
  width: 15rem;
  margin-top: 0.2rem;
  background-color: black;
  color: #fff;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.formContainer button {
  width:17.2rem;
  background-color: black;
  color: #fff;
  font-weight: 800;
  padding: 0.5rem 1rem;
  cursor: pointer;
}



/* Home */

.homeContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* FriendList */

.friendListContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  font-weight: 900;
  font-size:2.5rem;
  padding-bottom: 1rem;
}

.friendList {
  text-transform: uppercase;
  font-weight: 900;
  list-style: none;
 
}


.friendList li {
  margin-bottom: 1rem;
}


.header.header{
  color:black;
  text-align: center;
}

.user{
  color:rgb(21, 95, 125);
 font-weight: bolder;
}
.user2{
  color:rgb(21, 95, 125);
 font-weight: bolder;
}

.list{
  color:rgb(21, 95, 125);
 font-weight: bolder;
}
